In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as py

In [2]:
df=pd.read_csv("Youtube Video Dataset.csv")
# df["Description"][0]

In [3]:
t1=[]
r=pd.DataFrame(columns=["word","cnt"])
temp=[]
x=df[df['Category']=="Food"]
x=x.head(10)
# print(x)
count=0
for j in x["Description"]:
    temp=j.lower().split()
#     print(j)
#     temp=[e for e in temp if e not in ('to','for','from','some','get','you','Â»','your','of','is','in','this','the','a','\n','here','there','This','but','A','In','Hi','by','on','I','me')]
#     print(temp)
#     count=count+1
#     print(count)
#     temp.remove('\n')
#     temp.remove('is')
#     temp.remove('a')
#     temp.remove('the')
#     temp.remove('by')
#     temp.remove('me')
#     temp.remove('here')
#     temp.remove('there')
#     temp.remove('.')
   
    t1=t1+temp
# print(t1)
    
for k in t1:
#             print(t1.count(k))
            r=r.append({"word":k,"cnt":t1.count(k)},ignore_index=True)
# print(r.groupby(by='word').sum())
r

                              word cnt
0                           ðŸŽ¥giant   1
1                            alien   1
2                            snail   1
3                           japan!   1
4     https://youtu.be/5jcgwu-gvm4   1
...                            ...  ..
2184                      business   2
2185                    inquiries,   2
2186                        please   7
2187                        email:   2
2188          team.befrs@gmail.com   2

[2189 rows x 2 columns]

In [4]:
df['Category'].drop_duplicates()

0                     Food
1828         manufacturing
3527               History
5172           travel blog
7372    Science&Technology
9446             Art&Music
Name: Category, dtype: object